@{
    ViewData["Title"] = "Privacy Policy";
}
<!-- Better definition of policy will be added during refactor -->
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
